@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

div {
  font-family: myFirstFont;
}
h2{
    text-align: center;
}
h1{
    text-align: center;
}


button{
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    padding: 2px;
    
  }
  button:hover {
      background-color: #e7e7e7;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto }

    div.a{
        text-align: center;
       
    }

   div.wrapper{

    
    width: 1080px;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid #dedede;
  
   }
 #content_area
{
    text-align: center;
    float: left;
    width: 750px;
    margin: 20px 0 20px 0;
    padding: 10px;
}

.form {
    
    margin: 50px auto;
    width: 300px;
    padding: 30px 25px;
    background: white;
}
h1.login-title {
    color: #666;
    margin: 0px auto 25px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
.login-input {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 25px;
    height: 25px;
    width: calc(100% - 23px);
}
.login-input:focus {
    border-color:#6e8095;
    outline: none;
}
.login-button {
    color: #fff;
    background: #55a1ff;
    border: 0;
    outline: 0;
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.link {
    color: #666;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
}
.link a {
    color: #666;
}
h3 {
    font-weight: normal;
    text-align: center;
}
.imgCenter{
    width:500px;
    height:500px;
 
 /*Scale down will take the necessary specified space that is 100px x 100px without stretching the image*/
     object-fit:scale-down;
     float: center;
}
#center{
    text-align: center;
}
#left{
    text-align: left;
}

html { height: 100%; }
body {
    background: #d4bebefd;
    min-height:100%; 
    position:relative; 
    padding-bottom:[footer-height] 
}
.footer { 
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
   height:[footer-height] 
}